doctype html
html
  head
    meta(content="width=device-width, initial-scale=1", name="viewport")
    link(rel='stylesheet', href='/css/main.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    meta(name="csrf-token", content=csrfToken)
  body
    #app
      block content
  block preScript
  script(src="/js/main.bundle.js")
  block postScript